@font-face {
    font-family: Futura;
    src: url('./fonts/Futura\ PT.ttf');
}

* {
    font-family: Futura;
    color: #596dff;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.content > h2 {
    margin: 30px auto;
    font-size: 50px;
}

.main-el {
    margin-bottom: 100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    background: rgba(0, 0, 0, 0.178);
    background: transparent;
    border-radius: 40px;
    backdrop-filter: blur(5px);

    box-shadow: -10px 30px 50px rgba(0, 0, 0, 0.3);
}

.main-el > h3 {
    margin: 0 auto;
    font-size: 60px;
    background: transparent;
}

.main-p {
    width: 400px;
    height: fit-content;
    padding: 10px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 40px;

    box-shadow: -10px 30px 50px rgba(0, 0, 0, 0.3);
}

.a1 {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 35px;
}

.a2 {
    margin-top: 10px;
    margin-right: 50px;
    font-size: 35px;
}

.a3 {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 35px;
}

.a4 {
    margin-top: 10px;
    margin-right: 50px;
    font-size: 35px;
}

.c1 {
    border-bottom-left-radius: 40px;
}

.c2 {
    border-bottom-right-radius: 40px;
}

.b11 {
    height: 430px;
}

.b12 {
    height: 380px;
}

.b13 {
    height: 460px;
}

.b14 {
    height: 330px;
}

.b12 > p {
    align-self: flex-end;
}

.b14 > p {
    align-self: flex-end;
}

.mini-calc {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border-radius: 40px;
    width: 160px;
    height: 240px;
    flex-wrap: wrap;
    margin-top: -120px;
    margin-left: 85%;
    transform: rotate(20deg);
    box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.3);
}

.mini-calc > input {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: none;
    height: 80px;
    width: 156px;
    background-color: rgba(99, 99, 99, 0.1);
    outline-width: 0px;
    padding-left: 5px;
    font-size: 50px;
}

.mini-calc > button {
    background-color: rgba(138, 138, 138, 0.1);
    width: 80px;
    height: 78px;
    border: none;
    font-size: 40px;
}

.mini-calc > input:hover {
    background-color: rgba(22, 2, 54, 0.2);
    color: white;
}

.mini-calc > button:hover {
    background-color: rgba(47, 11, 104, 0.2);
    color: white;
}

.mini-calc > button:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.mini-weather {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 40px;
    width: 200px;
    height: 180px;
    margin-top: -120px;
    margin-left: 0px;
    transform: rotate(-20deg);
    box-shadow: -20px 10px 50px rgba(0, 0, 0, 0.3);
}

.mini-weather > p {
    background: transparent;
}

.d1 {
    font-size: 40px;
    margin: 0 auto;
}

.d2 {
    font-size: 60px;
    margin: 0 auto;
}

.d3 {
    font-size: 30px;
    margin: 0 auto;
}

.circle3 {
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(70deg, #7860ff, #f82b46);
    width: 400px;
    height: 400px;

    margin-left: 20%;
    margin-top: 10%;
}

.circle4 {
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(70deg, #ff8c5f, #f8d92b);
    width: 200px;
    height: 200px;

    margin-left: 65%;
    margin-top: 30%;
}

.circle5 {
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(70deg, #a0baff, #2b4af8);
    width: 500px;
    height: 500px;

    margin-left: 20%;
    margin-top: 50%;
}

.circle6 {
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(70deg, #92ff60, #2badf8);
    width: 250px;
    height: 250px;

    margin-left: 60%;
    margin-top: 70%;
}

.circle7 {
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(70deg, #ffa0cf, #2b4af8);
    width: 450px;
    height: 450px;

    margin-left: 30%;
    margin-top: 95%;
}

@media screen and (max-width: 900px) {
    .main {
        width: 100%;
    }
    .content {
        width: 700px;
    }
    .main-el {
        width: 600px;
    }
    .main-p {
        width: 300px;
        font-size: 30px;
    }
    .circle3 {
        margin-top: 30%;
        margin-left: 0%;
    }
    .circle4 {
        margin-top: 60%;
        margin-left: 70%;
    }
    .circle5 {
        width: 300px;
        height: 300px;
        margin-top: 90%;
        margin-left: 10%;
    }
    .circle6 {
        margin-top: 160%;
        margin-left: 60%;
    }
    .circle7 {
        margin-top: 200%;
        margin-left: 20%;
    }
}